:root {
  --bg-color: #f5f5f5;
  --border-color: #ccc;
  --text-color: #333;
  --success-color: #17b94f;
  --height-input: 40px;
  --brs-input: 5px;
  --padding: 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

pre {
  padding: var(--padding);
}

.btn {
  height: var(--height-input);
  padding: 0 var(--padding);
  border-radius: var(--brs-input);
  background-color: var(--success-color);
  color: white;
  border: 0;
  cursor: pointer;
}

.btn[disabled] {
  cursor: default;
  opacity: .5;
}

.form-control {
  height: var(--height-input);
  border-radius: var(--brs-input);
  border: 1px solid var(--border-color);
  padding: 0 var(--padding);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--padding) var(--padding);
}

.row {
  display: flex;
  gap: var(--padding);
}

.row-top {
  width: 50%;
  justify-content: space-between;
  padding: var(--padding) 0;
}

.editor,
.result {
  width: 100%;
  height: 500px;
  background-color: white;
}

.result {
  border: 0;
}

@media screen and (max-width: 767px) {
  .row-top {
    width: 100%;
  }

  .row:not(.row-top) {
    flex-direction: column;
  }

  .editor {
    height: 250px;
  }
}
